<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>로그인 페이지</h1>
<hr>
<form action="/login" method="post">
    <input type="text" placeholder="username" value="ssar" name="username"> <br>
    <input type="password" placeholder="password" value="1234" name="password"> <br>
    <button type="submit">로그인</button>
</form>
<a href="https://kauth.kakao.com/oauth/authorize?redirect_uri=http://localhost:8080/oauth/kakao/callback&response_type=code&client_id=d4578a188df718b7e89a8216811c73b4">카카오 로그인</a>
<a href="https://nid.naver.com/oauth2.0/authorize?client_id=wkI_0iNs7BmVF5O9ZLr1&response_type=code&redirect_uri=http://localhost:8080/oauth/naver/callback&state=$2a$10$M119OnzkM1HHpZLCDIhrne4mYR9bwQWvRoHXvZMfh1Yxamf8UbmHq">네이버 로그인</a>

</body>
</html>